@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 1rem;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

.text-primary{
    color: #df8543;
}

#navbar{
    background-color: #42240c;
    color: white;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
 background-color: #df8543;
 border-radius: 25%;
}

#showcase{
    background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

.showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height:1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.btn{
    background: #f0863a;
    padding: 0.75rem 2rem;
    color: #fff;
    border: none;
    border-radius: 10%;
}

.btn:hover{
    background: #42240c;
}

.btn-dark{
    background: #333;
    color: #fff;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center{
    text-align: center;
}

.py-1{ padding: 1.5rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{ padding: 3rem 0;}

.p-1{ padding: 1.5rem ;}
.p-2{ padding: 2rem ;}
.p-3{ padding: 3rem ;}

#what .items{
    display: flex;
    padding: 1rem;
}

#what .items .item{
    flex: 1;
    text-align: center;
}

#what .items .item i{
    background-color: #df8543;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


#who{
    display: flex;
}

#who div{
    flex: 1;
}

#who .who-img{
    background: url('../img/people.jpg') no-repeat center center/cover;
}

.bg-dark{
 background: #333;
 color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.list{
    margin: 0.5rem 0;
    list-style: none;
}

.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%
}

.bg-primary{
    background: #df8543;
    color: black;
}

#contact{
    display: flex;
    padding: 1rem 0;
}
#contact .contact-form,
#contact .map{
    flex: 1;
   
}

#contact .contact-form .form-group{
    margin: 0.75rem;
} 

#contact .contact-form label{
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}


